services:
  fastapi:
    build:
      context: .
      dockerfile: dockerfile
    container_name: interview_app
    ports:
      - "8000:8000"
    env_file:
      - .env
  postgres:
    image: postgres:16-alpine
    container_name: interview_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: